<div class="ac-banner">
  <div class="ac-banner__txt">
    <strong>Acerca de Nosotros</strong>
    <span>Déjanos contarte un poco sobre nuestra empresa</span>
  </div>
</div>

<section>
  <div class="ac-date">
    <span class="ac-date__number">2015</span>
    <span class="ac-date__line"></span>
  </div>

   <div class="ac-info">
    <p>
      Se creo la idea de ofrecer un servicio de transporte aéreo y terrestre desde la capital del eje cafetero, que pudiera conectar con las poblaciones de difícil acceso del país y ofrecer un servicio rápido, seguro y confiable, con el fin que nuestros posibles clientes llevaran sus productos a estos lugares de un modo económico y abrir sus mercados en otras zonas del país.
    </p>
   </div>

  <div class="ac-date">
    <span class="ac-date__line"></span>
    <span class="ac-date__number ac-date__number--right">2016</span>
  </div>

  <div class="ac-info ac-info--right">
    <p>
      Luego de un año de mucho trabajo, logramos obtener alianzas y estrategias de transporte con las empresas consolidadoras de carga en el sector aéreo, para que todos nuestros clientes hasta ese momento cumplieran con sus entregas en las rutas ofrecidas con un tiempo en tránsito más corto y seguro, como si todos ellos transportaran su mercancía y la entregaran de mano a mano con sus clientes.
    </p>
   </div>

   <div class="ac-date">
    <span class="ac-date__number">2017</span>
    <span class="ac-date__line"></span>
  </div>

   <div class="ac-info">
    <p>
      Trabajando siempre bajo nuestras políticas de responsabilidad y cumplimiento, creció nuestro querido grupo de clientes, como también ampliamos las opciones en las rutas del eje cafetero, haciendo así nuevas conexiones entre las poblaciones y ciudades principales como Armenia, Manizales, Pereira, Cartago, La Virginia, Calarcá, Montenegro, Santa Rosa de Cabal, entre muchas otras, haciendo el acceso más fácil a zonas del país como: Leticia, Puerto Carreño, Puerto Leguizamo, Puerto Inírida, Mitú, San Andres y providencia, como también ciudades principales del país, Barranquilla, Cali, Medellin, Bogotá, etc.
    </p>
   </div>

   <div class="ac-about">
     <div class="ac-about__txt">
        <h1 class="ac-about__txt__title">MISIÓN</h1>
        <p class="ac-about__txt__info">
          Somos una empresa consolidadora de carga para transporte aéreo y terrestre, que realiza conexiones en las zonas de difícil acceso del país, para entregar y recoger la carga de sus clientes, haciendo que la región del eje cafetero mueva sus productos por todo el país de una forma segura, fácil y económica, sirviendo así las necesidades de transporte de esta región.
        </p>
     </div>
      <div class="ac-about__txt">
       <h1 class="ac-about__txt__title">VISIÓN</h1>
       <p class="ac-about__txt__info">
        Retiraremos los mitos de el alto costo en el transporte aéreo, minimizaremos los tiempos de entrega y recogida de sus mercancías trayendo así una mayor comercialización en los productos fuera y dentro del eje cafetero al convertirnos en un transporte confiable para todo el mundo, Aerocafeteros cargo será la transportadora de mayor amabilidad, responsabilidad y confianza en la región, con puntos de recolección y entrega en las principales ciudades y poblaciones del eje cafetero.
       </p>
     </div>
   </div>
</section>
