<div class="ac-banner">
  <div class="ac-banner__title">
    SERVICIOS
    <small>Ofrecemos las mejores soluciones</small>
  </div>
</div>

<section>
  <div class="ac-servicios">
    <div class="ac-servicios__servicio">
      <i class="flaticon-transport ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
          Servicio Aeropuerto-Aeropuerto 
        </h1>
        <p class="ac-servicios__servicio__txt__info">
          Tus envios estan disponibles en el aeropuerto de tu ciudad y bajo el cuidado de nuestro experimentado equipo de trabajo.
        </p>
      </div>
    </div>

    <div class="ac-servicios__servicio">
      <i class="flaticon-transport-1 ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
          Entregas a domicilio
        </h1>
        <p class="ac-servicios__servicio__txt__info">
          Nuestro servicio de entregas a domicilio busca facilitarte tu dia cuando movilizarte no es una opcion.
        </p>
      </div>
    </div>
</div>
 <div class="ac-servicios">
    <div class="ac-servicios__servicio">
      <i class="flaticon-free-delivery-truck ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
          Recogida sin costo
        </h1>
        <p class="ac-servicios__servicio__txt__info">
           Programa este servicio en las principales ciudades del eje cafetero
        </p>
      </div>
    </div>

    <div class="ac-servicios__servicio">
      <i class="flaticon-delivery-truck ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
           Entregas rapidas
        </h1>
        <p class="ac-servicios__servicio__txt__info">
          Nuestra experiencia en el transporte aereo nos permite brindarte tiempos cortos entre envios agilizando los procesos de tu organización
        </p>
      </div>
    </div>
  </div>

  <div class="ac-servicios">
    <div class="ac-servicios__servicio">
      <i class="flaticon-airplane ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
           Operación aérea 
        </h1>
        <p class="ac-servicios__servicio__txt__info">
          Utilizamos una flota confiable de carga entre los que se destacan, 
          <span>Boeing 727 – 100,</span>
          <span>Boeing 727 – 200,</span>
          <span>Boeing 737 – 200</span>
        </p>
      </div>
    </div>

    <div class="ac-servicios__servicio">
      <i class="flaticon-cityscape ac-servicios__servicio__icon"></i>
      <div class="ac-servicios__servicio__txt">
        <h1 class="ac-servicios__servicio__txt__title">
          Ciudades de operacion
        </h1>
        <p class="ac-servicios__servicio__txt__info">
          San Andres, Leticia, Manizales, Pereira, Armenia, Rionegro, Barranquilla, Cali, Puerto Leguizamo, Yopal, Puerto Inirida
        </p>
      </div>
    </div>    
  </div>

</section>
