<section>
  <div class="ac-home">
    <div class="ac-home__img" style="background-image: url('assets/img/servicios.jpg')">
      <div class="ac-home__img__txt ac-home__img__txt--style1">
        <span>CONECTAMOS EL</span>
        <span><strong>EJE CAFETERO</strong></span>
        <span>CON EL RESTO DEL PAÍS</span>
      </div>
    </div>
    <div class="ac-home__img" style="background-image: url('assets/img/home02b.jpg')">
      <div class="ac-home__img__txt ac-home__img__txt--style2">
        <span>Aeropuerto – Aeropuerto, Domicilios, Recogida sin costo,</span>
        <span>Entregas rapidas, Operación Aerea</span>
      </div>
    </div>
    <div class="ac-home__img" style="background-image: url('assets/img/home03b.jpg')">
      <div class="ac-home__img__txt ac-home__img__txt--style3">
        <strong>Flotas Confiables</strong>
        <span>de carga</span>
      </div>
    </div>
  </div>
</section>
